<div class="col s4">
  <h5>Column Name</h5>
</div>
<div class="input-field col s8" id="input-box">
  <input id="column-name" type="text" class="validate" name="columnName">
  <label for="column-name">Column Name</label>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="dataType" name="dataType"></select>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="validation" name="validation"></select>
</div>
