<h3 id="diagram-title">Diagram</h3>

<div id="diagram-canvas" class="row">

  <canvas id="myCanvas"></canvas>

</div>
<button id="btnSave" class="waves-effect waves-light btn right" type="button" name="button" style="display:none">Download</button>
