<div class="row valign-wrapper" id="form-title">
  <div class="col s10f">
    <h3 class="valign">Boss your data</h3>
    <p>Enter your database details and hit submit</p>
  </div>
</div>

<div class="divider"></div>

<form class="" action="" method="post">

  <div id="form-content" class="row">

  <div class="row" >

    <% include ../partials/table_top %>

    <% include ../partials/table1 %>
    <% include ../partials/table2 %>

    <div class="col s12">
      <button id="form-submit-btn" class="btn-large right waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </div>

</div>


</form>
