<h3>Form</h3>
<div class="divider"></div>

<form class="" action="" method="post">

  <div class="row">

      <div class="col s4">
          <h5>Language</h5>
      </div>
      <div class="input-field col s8" id="input-box">
        <select name="language">
          <option value="" disabled selected>Choose your language</option>
          <option value="1">Ruby</option>
          <option value="2">Node</option>
        </select>
      </div>

      <div class="col s4">
          <h5>Framework</h5>
      </div>
      <div class="input-field col s8" id="input-box">
        <select name="framework">
          <option value="" disabled selected>Choose your framework</option>
          <option value="1">Rails</option>
          <option value="2">Sinatra</option>
        </select>
      </div>

      <div class="col s4">
          <h5>ORM</h5>
      </div>
      <div class="input-field col s8" id="input-box">
        <select name="orm">
          <option value="" disabled selected>Choose your ORM</option>
          <option value="1">Active Record</option>
          <option value="2">Data Mapper</option>
        </select>
      </div>

    <div class="col s4">
        <h5>Table Name</h5>
    </div>
    <div class="input-field col s8" id="input-box">
      <input id="table-name" type="text" class="validate" name="tableName">
      <label for="table-name">Table Name</label>
    </div>

  <div class="col s12">
    <input type="Submit" class="btn right">
  </div>

</div>

</form>
