<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo center"><i class="material-icons">picture_in_picture</i>DataBoss</a>
    <ul class="right hide-on-med-and-down">
      <li><a href=""><i id="form-slide-in2" class="material-icons">input</i></a></li>
      <li><a href="/"><i class="material-icons">refresh</i></a></li>
    </ul>
  </div>
</nav>
