<div class="col s4">
  <h5>Language</h5>
</div>

<div class="input-field col s8" id="input-box">
  <select id="language" name="language"></select>
</div>

<div class="col s4">
  <h5>Framework</h5>
</div>
<div class="input-field col s8" id="input-box">
  <select id="framework" name="framework"></select>
</div>

<div class="col s4">
  <h5>ORM</h5>
</div>
<div class="input-field col s8" id="input-box">
  <select id="ORM" name="orm"></select>
</div>

<div class="col s4">
  <h5>Database</h5>
</div>
<div class="input-field col s8" id="input-box">
  <select id="Database" name="Database"></select>
</div>

<div class="col s4">
  <h5>APP Name</h5>
</div>
<div class="input-field col s8" id="input-box">
  <input id="app-name" type="text" class="validate" name="appName">
  <label for="app-name">App Name</label>
</div>
