<div class="col s4">
    <h5>Table Name</h5>
</div>
<div class="input-field col s8">
  <input id="table-name" type="text" class="validate" name="tableName">
  <label for="table-name">Table Name</label>
</div>
<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="association" name="association"></select>
</div>
