<div class="col s4">
    <h5>Table Name</h5>
</div>
<div class="input-field col s8">
  <input id="table-name" type="text" class="validate" name="table1">
  <label for="table-name">Table Name</label>
</div>

<div class="col s4">
  <h5>Column Name</h5>
</div>
<div class="input-field col s8" id="input-box">
  <input id="column-name" type="text" class="validate" name="columnName1">
  <label for="column-name">Column Name</label>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="dataType" name="dataType1"></select>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="validation" name="validation1"></select>
</div>

<div class="col s4">
  <h5>Column Name</h5>
</div>
<div class="input-field col s8" id="input-box">
  <input id="column-name" type="text" class="validate" name="columnName2">
  <label for="column-name">Column Name</label>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="dataType" name="dataType2"></select>
</div>

<div class="col s4">
</div>
<div class="input-field col s8" id="input-box">
  <select id="validation" name="validation2"></select>
</div>
