<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/formStyles.css">
  <link rel="stylesheet" type="text/css" href="/css/canvasStyles.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.flowchart.css">
  <title>DataBoss</title>
</head>

<body>

  <% include ../partials/nav %>

    <div class="row">

      <div class="col s5 form-block" id="form">
        <% include ../partials/form %>
      </div>

      <div class="col s7" id="diagram">
        <% include ../partials/draw %>
        <% include ../partials/cheatSheet %>
      </div>

    </div>

  </div>

  <script type="text/javascript" src="/js/paper-full.js"></script>
  <script type="text/javascript" src="/js/marked.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"   integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/jquery.flowchart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/jquery-cloneya.js"></script>
  <script type="text/javascript" src="/src/data_form.js"></script>
  <script type="text/javascript" src="/src/diagram.js" canvas="myCanvas"></script>
  <script type="text/javascript" src="/src/formInterface.js"></script>
  <script type="text/javascript" src="/src/table_form.js"></script>
  <script type="text/javascript" src="/src/userSelections.js"></script>


</body>
</html>
